:root {
  --slime: #305f44;
  --alien: #b7e349;
  --alienGoo: #b7e349be; /* Same colour as alien, but translucent */
  --cropcircle: #e1b619;
  --space: #1c1b2c;
  --error: #570000;
  --errorGoo: #fe23239b; /* Transucent Red */
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/639/200/non_2x/interstellar-space-abstract-seamless-pattern-shapes-on-dark-purple-background-trendy-texture-with-cartoon-color-icons-design-with-graphic-elements-for-interior-fabric-website-decoration-vector.jpg");
  background-repeat: repeat;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.5;
  justify-content: center;
  margin: 0;
  color: var(--cropcircle);
}

.w12MForm {
  border: var(--alien);
  border-width: 25px;
  border-style: dotted;
  border-radius: 25%;
  padding: 5%;
  background-color: var(--alienGoo);
  color: var(--space);
  font-weight: bold;
  width: 70%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

label {
  padding: 1%;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1%;
  border: 1px solid var(--slime);
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: var(--cropcircle);
  color: var(--space);
  padding: 1% 1%;
  cursor: pointer;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 10%;
  border-width: 13px;
  border-style: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--space);
  color: var(--cropcircle);
}

.formOutput {
  background-color: var(--alien);
  color: var(--slime);
  padding: 1%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.error {
  color: var(--error);
  font-style: italic;
  background-color: var(--errorGoo);
}
