:root {
  --slime: #305f44;
  --alien: #b7e349;
  --alienGoo: #b7e349be; /* Same colour as alien, but translucent */
  --cropcircle: #e1b619;
  --space: #1c1b2c;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/639/200/non_2x/interstellar-space-abstract-seamless-pattern-shapes-on-dark-purple-background-trendy-texture-with-cartoon-color-icons-design-with-graphic-elements-for-interior-fabric-website-decoration-vector.jpg");
  background-repeat: repeat;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--cropcircle);
}

.w12MForm {
  border: var(--alien);
  border-width: 20px;
  border-style: dotted;
  border-radius: 30%;
  padding: 5%;
  background-color: var(--alienGoo);
  color: var(--space);
  font-weight: bold;
}

label {
  padding: 0.5%;
  display: inline-block;
}

input,
select,
textarea {
  float: inline-end;
  width: 20%;
}

button {
  background-color: var(--cropcircle);
  color: var(--space);
  padding: 1% 1%;
  cursor: pointer;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 10%;
  border-width: 13px;
  border-style: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--space);
  color: var(--cropcircle);
}

.formOutput {
  background-color: var(--alien);
  color: var(--slime);
  padding: 1%;
}
